@model E_Ticaret.Models.Cart

@foreach (var item in Model.Cartlines)
{
    <div class="card ecommerce-card">
        <div class="item-img">
            <a href="#">
                @if (item.Product.ImageURL != null)
                {
                    <img src="@item.Product.ImageURL" alt="img-placeholder" />
                }
                else
                {
                    <img src="~/Uploads/Product/urun-resmi-yok.png" alt="img-placeholder" />
                }
            </a>
        </div>
        <div class="card-body">
            <div class="item-name">
                <h6 class="mb-0"><a href="app-ecommerce-details.html" class="text-body">@item.Product.Name</a></h6>
                <span class="item-company"><a href="#" class="company-name">@item.Product.TradeMark</a></span>
                <div class="item-rating">
                    <ul class="unstyled-list list-inline">
                        @for (int i = 0; i < item.Product.StarPoint; i++)
                        {
                            <li class="ratings-list-item"><i data-feather="star" class="filled-star"></i></li>
                        }
                        @for (int i = 0; i < 5 - item.Product.StarPoint; i++)
                        {
                            <li class="ratings-list-item"><i data-feather="star" class="unfilled-star"></i></li>
                        }
                    </ul>
                </div>
            </div>
            <span class="text-success mb-1">In Stock</span>
            <div class="item-quantity">
                <span class="quantity-title">Qty:</span>
                <div class="quantity-counter-wrapper">
                    <div class="input-group">
                        <input type="text" class="quantity-counter" value="@item.Quantity" />
                    </div>
                </div>
            </div>
            @*<span class="delivery-date text-muted">Delivery by, Wed Apr 25</span>
            <span class="text-success">17% off 4 offers Available</span>*@
        </div>
        <div class="item-options text-center">
            <div class="item-wrapper">
                <div class="item-cost">
                    <h4 class="item-price">@((item.Product.Price * item.Quantity).ToString("c"))</h4>
                    <p class="card-text shipping">
                        <span class="badge rounded-pill badge-light-success">Free Shipping</span>
                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-light mt-1" onclick="RemoveCart(@item.Product.ID)">
                <i data-feather="x" class="align-middle me-25"></i>
                <span>Remove</span>
            </button>
            <button type="button" class="btn btn-primary btn-cart move-cart">
                <i data-feather="heart" class="align-middle me-25"></i>
                <span class="text-truncate">Add to Wishlist</span>
            </button>
        </div>
    </div>
}



